.parent{
    min-height: calc(100svh - 74px);
    width: 100vw;
    background-image: url('./or.jpg');
    background-size: 40% 90%;
    background-position: bottom right;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding:0 35px;
}
.container{
    max-width: min(90%, 900px) ;
    margin:110px 0 0;

}

.container h1{
    margin-bottom: 30px;
    background: linear-gradient(to right, #19A7CE, #146C94);
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-size:70px;
    font-family:Helvetica, sans-serif;
    font-weight: 700;
   
}
.typing{
    width:min(900px,80%);
    color:#146C94;
    font-size: 18px;
    font-family:Helvetica, sans-serif;
    line-height:30px;    
}
.buttons{
    padding:20px ;
    display: flex;
    gap:20px;
    width:60%;
    margin-top: 35px;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}
.buttons button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
    transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
    -ms-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    font-weight: 600;
    width:100%;
}
.buttons a{
    width:40%;
}
.buttons .button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}
.buttons .button:active {
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}
@media  screen and (max-width:750px) {
.parent{
    background-size: 100vw 90%;
} 
.buttons{
    width:100%;
    align-items: center;
    flex-direction: column;
}
.buttons a{width:100%}
.button{
    width:100%;
}


}